apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: tortjo-smailandsstuff
spec:
  build:
    secrets:
  environments:
    - name: production
      build:
        from: master
  components: 
    - name: webapp
      src: .
      ports:
       - name: http
         port: 3000
      public: true
      replicas: 1
      environmentConfig:
        - environment: production
          variables:
            TENANTID: "3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
            CLIENTID: "db884da9-f006-46d4-8faa-6332dd529593"
            NODE_ENV: "development"
      secrets:
        - CLIENTSECRET